<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLkOfcYTgDTaLGj0TFS2fNbKqLOew-9es</string>
	<key>GCM_SENDER_ID</key>
	<string>751693082804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>key.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-molab</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-molab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751693082804:ios:bd74f1cb25d6e895dfe7e1</string>
</dict>
</plist>